@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* -------------------------------------------- Page index ------------------------------------------------------- */

/*--------------------------------------------- Barre de navigation --------------------------------------------------- */
header > nav {
  height: 55px;
  width: 100%;
  padding: 0;
  background-color: #fbd562;
}

.parentLogoNav {
  width: 100px;
  height: 100%;
  float: left;
}

.logoNav {
  width: 100%;
  height: auto;
  transition: 0.3s;
  margin: 5px;
  margin-left: 20px;
}

.logoNav:hover {
  width: 110%;
}

header > nav > ul {
  list-style-type: none;
  float: right;
  height: 55px;
}

header > nav > ul > li {
  display: inline-block;
  border-right: 1px solid;
  border-color: #1d285e;
}

header > nav > ul > li > a {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #1d285e;
  /* height: 55px; */
  line-height: 55px;
  padding-inline: 10px;
  padding-block: 20px;
  transition: 0.2s;
}

header > nav > ul > li > a:hover {
  font-size: larger;
  color: #fdfeff;
}

/*---------------------------------------- Première section ---------------------------------------- */
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.sectionOne {
  /* margin-top: 70px; */
  margin-inline: 300px;
  padding-block: 100px;
  overflow: hidden;
  display: block;
}

.textDesc {
  margin-block: 100px;
  font-family: "Montserrat", sans-serif;
  font-size: 150%;
  float: left;
  width: 40%;
  margin-left: 150px;
  animation: slideInFromLeft 1s ease-out;
}

.introImg {
  float: right;
  width: 30%;
  height: auto;
  border-radius: 15px;
  animation: slideInFromRight 1s ease-out;
  margin-right: 150px;
  transition: 0.3s;
}

.introImg:hover {
  transform: rotate(3deg);
}

/* ------------------------------------------ Deuxieme Section ------------------------------------------- */

.sectionTwo {
  height: 400px;
  width: 100%;
  margin-bottom: 40px;
}

.textSecTwo {
  font-family: "Montserrat", sans-serif;
  font-size: 150%;
  width: 50%;
  float: right;
  background-color: #fbd562;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
  padding-inline: 120px;
  padding-block: 50px;
  margin-left: 100px;
  line-height: 35px;
  transition: 0.3s;
}

.textSecTwo:hover {
  padding-block: 65px;
}

/* ---------------------------------------- Footer -------------------------------- */

footer {
  width: 100%;
  height: 300px;
  background-color: #1d285e;
}

.footerLinks {
  list-style-type: none;
  float: left;
  padding-left: 30%;
  padding-top: 50px;
  line-height: 35px;
}

.footerLinks > li > a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: block;
  font-family: "Montserrat", sans-serif;
}

.footerLinks > li > a:hover {
  color: #f8df8c;
}

.footerSocials {
  list-style-type: none;
  float: right;
  padding-right: 30%;
  padding-top: 50px;
  line-height: 35px;
}

.footerSocials > li > a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.footerSocials > li > a:hover {
  color: #f8df8c;
}

.asa {
  width: 100%;
  height: 80%;
}

.footerRights {
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  width: 100%;
  color: white;
  text-align: center;
}

.decoLine {
  background-color: white;
  height: 1px;
  width: 600px;
  margin-left: 35%;
  margin-bottom: 30px;
}

.footerTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  color: white;
}

/* --------------------------------------------------------- Second page --------------------------------------------------------- */

/* --------------------------------------------------------- Section one --------------------------------------------------------- */

.sectionSecPageOne {
  background-image: url(../img/backgroundSecond.jpg);
  background-size: cover;
  background-position: 0;
  /* height: fit-content; */
}

.gradient {
  height: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.9360119047619048) 100%,
    rgba(251, 213, 98, 1) 100%,
    rgba(255, 255, 255, 0.04805672268907568) 100%
  );
}

.titleSecPage {
  height: auto;
  width: 100%;
  padding-top: 60px;
}

.titleSecPage > p {
  /* width: fit-content; */
  font-size: 50px;
  font-family: "Playfair Display", serif;
  font-weight: bolder;
  font-style: italic;
  text-align: center;
  color: #1d285e;
}

.titleSecPage > p:hover {
  color: #243382;
  transition: 0.5s;
}

.sectSecDesc {
  margin: auto;
  width: 50%;
  font-family: "Montserrat";
  font-size: larger;
  padding-block: 100px;
  text-align: center;
}

.sectionSecPageTwo {
  height: fit-content;
  width: 100%;
  margin-inline: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0px -17px 15px -24px #000000;
  background-color: #fbd562;
  background: linear-gradient(
    180deg,
    rgba(251, 213, 98, 1) 0%,
    rgba(251, 213, 98, 1) 38%,
    rgba(255, 255, 255, 0.37298669467787116) 91%,
    rgba(255, 255, 255, 0.04805672268907568) 100%
  );
  /* border-radius: 20px; */
  /* padding-block: 20px; */
  /* margin-block: 100px; */
  /* transition: 1s; */
}

.sectionSecPageTwo > h3 {
  font-size: 30px;
  font-family: "Montserrat", serif;
  font-style: italic;
  font-weight: 800;
  /* font-style: italic; */
  text-align: center;
  color: #1d285e;
  padding: 20px;
}

/* -----partie partenaires ------ */
.containerPartner {
  height: 300px;
  width: 100%;
  padding-bottom: 40px;
  margin-left: auto;
}

.partner {
  height: 150px;
  width: 200px;
  filter: grayscale(100%);
  /* background-color: rgb(236, 0, 0); */
  display: inline-block;
  margin: 30px;
}

.partner1 {
  background-image: url(../img/partnerRegions.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 150px;
}
.partner2 {
  background-image: url(../img/patnerStef.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.partner3 {
  background-image: url(../img/partnerAaccor.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.partner4 {
  background-image: url(../img/partnerTotal.png);
  background-size: 85%;
  background-repeat: no-repeat;
}
.partner5 {
  background-image: url(../img/partnerAirfrance.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.partner6 {
  background-image: url(../img/partnerLambo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.partner1:hover {
  filter: none;
  transition: 0.5s;
}
.partner2:hover {
  filter: none;
  transition: 0.5s;
}
.partner3:hover {
  filter: none;
  transition: 0.5s;
}
.partner4:hover {
  filter: none;
  transition: 0.5s;
}
.partner5:hover {
  filter: none;
  transition: 0.5s;
}
.partner6:hover {
  filter: none;
  transition: 0.5s;
}

/* ------------------------------------------------------ Section deux ------------------------------------- */

.sectionSecPageThree {
  margin-block: 60px;
  height: 700px;
  width: 80%;
  margin-inline: auto;
  border-radius: 20px;
  margin-block: 100px;
}

.para1 {
  width: 40%;
  font-family: "Montserrat";
  font-size: 22px;
  display: inline-block;
}

.para2 {
  width: 100%;
  font-family: "Montserrat";
  font-size: 22px;
  display: inline-block;
}

.sectionSecPageThree > img {
  width: auto;
  height: 550px;
  border-radius: 20px;
}
