<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Livret d'accueil</title>
    <link rel="stylesheet" href="../style/style.css" />
    <script src="js/script.js" defer></script>
  </head>
  <body>
    <header>
      <nav>
        <a class="parentLogoNav" href="index.html"
          ><img class="logoNav" src="../img/novotel.png" alt="Logo Novotel"
        /></a>
        <ul class="navbar">
          <li>
            <a href="second.html">Introduction</a>
          </li>
          <li>
            <a href="third.html">Fonctionnalités</a>
          </li>
          <li>
            <a href="fourth.html">Langages</a>
          </li>
          <li>
            <a href="fifth.html">Contact</a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="mainFifth">
      <section class="sectionFifthPageOne">
        <div class="fifthGradient">
          <form action="exemple.php" method="post" class="formContact">
            <h4>Formulaire de contact</h4>
            <div class="firstContact">
              <input
                type="text"
                name="firstName"
                id="firstName"
                class="inputText"
                placeholder="Prénom"
              />
              <input
                type="text"
                name="lastName"
                id="lastName"
                class="inputText"
                placeholder="Nom"
              />
            </div>
            <div class="secondContact">
              <input
                type="text"
                name="email"
                id="email"
                class="inputText"
                placeholder="Email"
              />
              <input
                type="text"
                name="zipcode"
                id="zipcode"
                class="inputText"
                placeholder="Code postal"
              />
            </div>

            <textarea
              class="textArea"
              name="message"
              id="message"
              placeholder="Que voulez vous nous dire?"
            ></textarea>
            <div class="buttonDiv">
              <button class="buttonForm">Soumettre</button>
            </div>
          </form>
        </div>
      </section>
    </main>

    <footer>
      <div class="asa">
        <ul class="footerLinks">
          <li><p class="footerTitle">Liens</p></li>
          <li>
            <a href="">Home</a>
          </li>
          <li>
            <a href="">Introduction</a>
          </li>
          <li>
            <a href="">Durée Limite</a>
          </li>
          <li>
            <a href="">A propos</a>
          </li>
        </ul>

        <ul class="footerSocials">
          <li><p class="footerTitle">Socials</p></li>
          <li>
            <a href="">Facebook</a>
          </li>
          <li>
            <a href="">Twitter</a>
          </li>
          <li>
            <a href="">LinkedIn</a>
          </li>
          <li>
            <a href="">Youtube</a>
          </li>
        </ul>
      </div>

      <div class="decoLine"></div>

      <p class="footerRights">Livret d'accueil. Tous droits réservés.</p>
    </footer>
  </body>
</html>
