<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Livret d'accueil</title>
    <link rel="stylesheet" href="../style/style.css" />
    <script src="js/script.js" defer></script>
  </head>
  <body>
    <header>
      <nav>
        <ul class="navbar">
          <li>
            <a href="hNavbar">Logo</a>
          </li>
          <li>
            <a href="hNavbar">Introduction</a>
          </li>
          <li>
            <a href="hNavbar">Durée Limite</a>
          </li>
          <li>
            <a href="hNavbar">à propos</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
        <div>
            <h2 class="bigTitle">Le livret d'accueil</h2>
            <img src="" alt="Image montrant un hôtel">
            <p class="indexDesc"></p>
        </div>
    </main>

    <footer>
      <ul class="footerLinks">
        <li>
          <a href="">Logo</a>
        </li>
        <li>
          <a href="">Introduction</a>
        </li>
        <li>
          <a href="">Durée Limite</a>
        </li>
        <li>
          <a href="">à propos</a>
        </li>
      </ul>

      <div class="footer-socials">
        <a href="https://facebook.com" target="_blank"> Facebook </a>
        <a href="https://twitter.com" target="_blank"> Twitter </a>
        <a href="https://linkedin.com" target="_blank"> LinkedIn </a>
      </div>

      <p class="footerInfo">Livret d'accueil. Tous droits réservés.</p>
    </footer>
  </body>
</html>
