<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Livret d'accueil</title>
    <link rel="stylesheet" href="../style/style.css" />
    <script src="../js/script.js" defer></script>
  </head>
  <body>
    <header>
      <nav>
        <a class="parentLogoNav" href="index.html"
          ><img class="logoNav" src="../img/novotel.png" alt="Logo Novotel"
        /></a>
        <ul class="navbar">
          <li>
            <a href="second.html">Nos produits</a>
          </li>
          <li>
            <a href="third.html">Supprimer un produit</a>
          </li>
          <li>
            <a href="fourth.html">Modifier un produit</a>
          </li>
          <li>
            <a href="fifth.html">Ajouter un produit</a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="mainSecond">
      <section class="sectionSecPageOne">
        <div class="gradient">
          <h2 class="titleSecPage">Nos produits</h2>
          <p class="sectSecDesc">
            Ici vous pourrez apercevoir quelque uns de nos meilleurs produits.
            Prenez votre temps pour feuilleter parmis le top du top!
          </p>
          <a href="#sectionSecPageTwo" class="sectSecArrow"></a>
        </div>
      </section>
      <section class="sectionSecPageTwo" id="sectionSecPageTwo">
        <h3>Ces marques nous sollicitent</h3>
        <div class="containerPartner">
          <div class="partner partner1"></div>
          <div class="partner partner2"></div>
          <div class="partner partner3"></div>
          <div class="partner partner4"></div>
          <div class="partner partner5"></div>
          <div class="partner partner6"></div>
        </div>
      </section>
      <section class="sectionSecPageThree">
        <ul class="productss" id="productss"></ul>
      </section>
    </main>

    <footer>
      <div class="asa">
        <ul class="footerLinks">
          <li><p class="footerTitle">Liens</p></li>
          <li>
            <a href="">Home</a>
          </li>
          <li>
            <a href="">Introduction</a>
          </li>
          <li>
            <a href="">Durée Limite</a>
          </li>
          <li>
            <a href="">A propos</a>
          </li>
        </ul>

        <ul class="footerSocials">
          <li><p class="footerTitle">Socials</p></li>
          <li>
            <a href="">Facebook</a>
          </li>
          <li>
            <a href="">Twitter</a>
          </li>
          <li>
            <a href="">LinkedIn</a>
          </li>
          <li>
            <a href="">Youtube</a>
          </li>
        </ul>
      </div>

      <div class="decoLine"></div>

      <p class="footerRights">Ecommerce. Tous droits réservés.</p>
    </footer>
  </body>
</html>
