<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Livret d'accueil</title>
    <link rel="stylesheet" href="../style/style.css" />
    <script src="js/script.js" defer></script>
  </head>
  <body>
    <header>
      <nav>
        <a class="parentLogoNav" href="index.html"
          ><img class="logoNav" src="../img/novotel.png" alt="Logo Novotel"
        /></a>
        <ul class="navbar">
          <li>
            <a href="second.html">Introduction</a>
          </li>
          <li>
            <a href="third.html">Fonctionnalités</a>
          </li>
          <li>
            <a href="fourth.html">Langages</a>
          </li>
          <li>
            <a href="fifth.html">Contact</a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="mainSecond">
      <section class="sectionSecPageOne">
        <div class="gradient">
          <h2 class="titleSecPage">Les origines du projet</h2>
          <p class="sectSecDesc">
            Ce projet est né du besoin d’une formatrice en hôtellerie souhaitant
            offrir à ses élèves un support moderne et interactif. Le livret
            d’accueil numérique servira d’exemple concret pour illustrer les
            bonnes pratiques en matière d’information et d’organisation. Il
            permettra aux apprenants de mieux comprendre l'importance d’un
            accueil structuré tout en découvrant un outil professionnel
            digitalisé.
          </p>
          <a href="#sectionSecPageTwo" class="sectSecArrow"></a>
        </div>
      </section>
      <section class="sectionSecPageTwo" id="sectionSecPageTwo">
        <h3>Nos partenaires</h3>
        <div class="containerPartner">
          <div class="partner partner1"></div>
          <div class="partner partner2"></div>
          <div class="partner partner3"></div>
          <div class="partner partner4"></div>
          <div class="partner partner5"></div>
          <div class="partner partner6"></div>
        </div>
      </section>
      <section class="sectionSecPageThree">
        <p class="para1">
          Le livret d’accueil d’un hôtel est un document essentiel qui permet
          aux clients de se familiariser avec l’établissement dès leur arrivée.
          Il contient toutes les informations pratiques nécessaires pour leur
          séjour, comme les horaires de la réception, du petit-déjeuner et du
          check-out, ainsi que les consignes de sécurité. Ce support joue un
          rôle clé dans la communication entre l’hôtel et ses visiteurs, leur
          évitant de devoir solliciter la réception pour des questions
          courantes. En plus des informations pratiques, le livret détaille les
          services proposés par l’hôtel, tels que la restauration, le room
          service, la blanchisserie, l’accès Wi-Fi ou encore les espaces
          bien-être. Il peut aussi inclure des recommandations touristiques pour
          aider les clients à découvrir les environs, avec des suggestions de
          visites, des adresses de restaurants et des moyens de transport à
          proximité. Autrefois uniquement disponible sous format papier, le
          livret d’accueil se décline aujourd’hui en version numérique,
          accessible via un QR code, une tablette en chambre ou une application
          mobile. Ce format présente plusieurs avantages, notamment une mise à
          jour facile des informations, une réduction des coûts d’impression et
          un impact écologique moindre.
        </p>
        <img src="../img/secPageImg.jpg" alt="" />
        <p class="para2">
          En rendant les informations accessibles instantanément, il améliore
          l’expérience des clients et leur permet de profiter pleinement des
          prestations de l’hôtel. Un livret d’accueil bien conçu contribue à
          fluidifier le séjour des clients et à renforcer l’image de marque de
          l’établissement.Il reflète l’attention portée aux détails et à
          l’organisation, tout en facilitant la communication entre les clients
          et le personnel. Qu’il soit en format papier ou digital, il constitue
          un outil indispensable pour garantir un accueil de qualité et
          fidéliser la clientèle.
        </p>
      </section>
    </main>

    <footer>
      <div class="asa">
        <ul class="footerLinks">
          <li><p class="footerTitle">Liens</p></li>
          <li>
            <a href="">Home</a>
          </li>
          <li>
            <a href="">Introduction</a>
          </li>
          <li>
            <a href="">Durée Limite</a>
          </li>
          <li>
            <a href="">A propos</a>
          </li>
        </ul>

        <ul class="footerSocials">
          <li><p class="footerTitle">Socials</p></li>
          <li>
            <a href="">Facebook</a>
          </li>
          <li>
            <a href="">Twitter</a>
          </li>
          <li>
            <a href="">LinkedIn</a>
          </li>
          <li>
            <a href="">Youtube</a>
          </li>
        </ul>
      </div>

      <div class="decoLine"></div>

      <p class="footerRights">Livret d'accueil. Tous droits réservés.</p>
    </footer>
  </body>
</html>
