<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Livret d'accueil</title>
    <link rel="stylesheet" href="../style/style.css" />
    <script src="js/script.js" defer></script>
  </head>
  <body>
    <header>
      <nav>
        <a class="parentLogoNav" href="index.html"
          ><img class="logoNav" src="../img/novotel.png" alt="Logo Novotel"
        /></a>
        <ul class="navbar">
          <li>
            <a href="second.html">Introduction</a>
          </li>
          <li>
            <a href="third.html">Fonctionnalités</a>
          </li>
          <li>
            <a href="fourth.html">Langages</a>
          </li>
          <li>
            <a href="fifth.html">Contact</a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="mainThird">
      <section class="sectionThirdPageOne">
        <h2 class="titleThirdPage">Les Fonctionnalités</h2>

        <div class="cards">
          <ul class="cardUl">
            <li class="cardLi card1">
              <h4>Back-office</h4>
              <img
                src="../img/cardBackOffice.png"
                alt="Logo montrant un back office"
                class="logoCard"
              />
              <p>
                Le back-office est l’interface d’administration d’un site ou
                d’une application. Il permet aux gestionnaires d’avoir un
                contrôle total sur le contenu, les utilisateurs et les
                fonctionnalités du système. Grâce à une interface ergonomique et
                sécurisée, les administrateurs peuvent gérer les données,
                configurer les paramètres et optimiser l’expérience utilisateur
                sans passer par du code.
              </p>
            </li>
            <li class="cardLi card2">
              <h4>Données dynamiques</h4>
              <img
                src="../img/cardDatabase.png"
                alt="Logo montrant une base de données"
                class="logoCard"
              />
              <p>
                Les données dynamiques permettent d’adapter et de personnaliser
                le contenu affiché en fonction des besoins des utilisateurs et
                des mises à jour en temps réel. Grâce aux bases de données et
                aux API, l’application peut afficher des informations
                pertinentes et actualisées en permanence, garantissant une
                expérience fluide et interactive.
              </p>
            </li>
            <li class="cardLi card3">
              <h4>Gestion d'utilisateurs</h4>
              <img
                src="../img/cardUser.png"
                alt="Logo montrant un utilisateur"
                class="logoCard"
              />
              <p>
                La gestion des utilisateurs regroupe toutes les fonctionnalités
                permettant d’authentifier, d’autoriser et d’administrer les
                comptes des visiteurs et des administrateurs. Elle inclut la
                création de comptes, les niveaux d’accès, la gestion des rôles
                et la sécurisation des connexions pour assurer une utilisation
                fluide et sécurisée.
              </p>
            </li>
            <li class="cardLi card4">
              <h4>Modification en temps réel</h4>
              <img
                src="../img/cardAction.png"
                alt="Logo montrant des modifications"
                class="logoCard"
              />
              <p>
                Les modifications en temps réel offrent la possibilité
                d’actualiser instantanément le contenu sans nécessiter de
                rechargement de la page. Grâce aux technologies comme WebSockets
                ou Firebase, les utilisateurs voient les mises à jour
                immédiatement, ce qui est particulièrement utile pour la
                collaboration en ligne, les tableaux de bord interactifs et les
                systèmes de messagerie.
              </p>
            </li>
          </ul>
        </div>
      </section>
    </main>

    <footer>
      <div class="asa">
        <ul class="footerLinks">
          <li><p class="footerTitle">Liens</p></li>
          <li>
            <a href="">Home</a>
          </li>
          <li>
            <a href="">Introduction</a>
          </li>
          <li>
            <a href="">Durée Limite</a>
          </li>
          <li>
            <a href="">A propos</a>
          </li>
        </ul>

        <ul class="footerSocials">
          <li><p class="footerTitle">Socials</p></li>
          <li>
            <a href="">Facebook</a>
          </li>
          <li>
            <a href="">Twitter</a>
          </li>
          <li>
            <a href="">LinkedIn</a>
          </li>
          <li>
            <a href="">Youtube</a>
          </li>
        </ul>
      </div>

      <div class="decoLine"></div>

      <p class="footerRights">Livret d'accueil. Tous droits réservés.</p>
    </footer>
  </body>
</html>
